frontend/elm-stuff
frontend/node_modules
frontend/dist
frontend/src/assets/photo
backend/.stack-work
backend/.cabal-sandbox
backend/cabal.sandbox.config
backend/dist
backend/*.tix
backend/db/*.sql
*.swp
*.swo
*.log
*.db
*.gz
